<md-dialog style="max-height: 90vh; min-width: 60vw; min-height: 80vh; z-index: 5;">
    <md-toolbar>
        
        <!-- <h3>Export {{werteALL | filter: {'export': 'true'} }}</h3> -->
        <h3>Export </h3>
            <span flex>
        </span>
            
    </md-toolbar>
    <md-dialog-content style="min-height: 70vh;">
        <md-tabs md-dynamic-height>
            
            <md-tab label="List">
                <div style="min-height: 60vh;">
                    <table  class="sampleTable " width="100%" id="tabelle" >
                        <thead>
                            <tr class="">
                                <th>SampleID</th>
                                <th>Reference</th>
                                <th>Age [a]</th>
                                <th>elevation [m RSL]</th>
                            </tr>
                        </thead>
                            <tr ng-repeat="werte in werteALL | filter: {'export': true} ">
                                <td> {{werte.label}} </td>
                                <td> {{werte.reference}} </td>
                                <td> {{werte.age}} </td>
                                <td> {{werte.elevation}} </td>
                            </tr>
                    </table>

                </div>
                </md-tab>
                <md-tab label="Plot">
                    <jd-directive-svg></jd-directive-svg>   
                    
                    <!-- <div ng-repeat="samples in werteEXPORT | filter: {export: true}">
                        {{samples}}
                    </div>
                    <div ng-repeat="samples in werteALL">
                        {{samples}}
                    </div> -->
                </md-tab>
                <md-tab label="Map">
                    <div class="md-dialog-content" >
    
                        <leaflet lf-center="ansicht" controls="controls" layers="layers" markers="markers" width="100%" height="90vh"></leaflet>
                    </div>
                </md-tab>
            </md-tabs>
            
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-raised " ng-click="dialogExportClose('abbruch')" style="float: right;" >
                close
            </md-button>
            <md-button class="md-raised" ng-click="dialogExportClose('etwas')">
                Download CSV
            </md-button>
        </md-dialog-actions>
    </md-dialog>