<div class="col-md-9 myContainer" style="background-color: rgb(228, 228, 228); height: 90vh;">
    <!-- <nvd3 options="options" data="werteSCATTER" class="ng-scope" width=600px height=400px></nvd3> -->
    <div class="myContainerContent" style="height: 55vh;">
        <h4>{{sortierung2}} : {{detailName}}</h4>
        <span style="position: absolute; right: 20px; top: 5px;">
            <md-checkbox class="myCheckbox" ng-checked="showPlotControl == true; " ng-click="showPlotControl = !showPlotControl " >
                <!--  -->
                show Controls
            </md-checkbox>
            <md-checkbox class="myCheckbox" ng-checked="showRejected == true; " ng-click="showRejected = !showRejected " >
                <!--  -->
                show Rejected
            </md-checkbox>
            <md-checkbox  class="myCheckbox" ng-checked="linkTable == true; " ng-click="linkTable = !linkTable " >
                <!--  -->
                link Table
            </md-checkbox>
            
        </span>
        

        <div layout="row" layout-wrap flex ng-show="showPlotControl">
            <md-slider-container>
                ZoomX
                <md-slider class="md-primary" aria-label="Zoom X" ng-model="svgScaleX" min="0" max="0.2" step="0.001">
                </md-slider>
            </md-slider-container>
            <md-slider-container>
                ZoomY
                <md-slider class="md-primary" ng-model="svgScaleY" min="1" max="4" step="0.01">
                </md-slider>
            </md-slider-container>
        </div>
        <div layout="row" layout-wrap flex ng-show="showPlotControl"> 
            <md-slider-container>
                ScrollX
                <md-slider class="md-primary" aria-label="Zoom X" ng-model="svgShiftX" min="-300" max="300" step="1">
                </md-slider>
            </md-slider-container>
            <md-slider-container>
                ScrollY
                <md-slider class="md-primary" ng-model="svgShiftY" min="-100" max="100" step="1">
                </md-slider>
            </md-slider-container>
        </div>
        <jd-directive-svg daten="werteALL" plotfilter="export"></jd-directive-svg>   
    </div>

    <!-- <div class=row><h4 style="z-index: 4;">Details</h4></div> -->
    <div class="myContainerContent" style=" overflow-y: scroll;">

        <table  class="sampleTable" width="100%" id="tabelle">
            <thead>
                <tr>
                    <th>
                        <md-checkbox ng-model="allSelected" ng-checked="allSelected == true; " ng-click="selectAll()">

                            Export
                        </md-checkbox>
                        
                    </th>
                    <th ng-click="sortType = 'A_01'; sortReverse = !sortReverse">
                        SampleID
                        <span ng-if="sortReverse == true && sortType == 'A_01'" class="fa fa-caret-down"> 
                          <md-icon md-svg-src="img/expand_more.svg"></md-icon>
                        </span>
                        <span ng-if="sortReverse == false  && sortType == 'A_01'" class="fa fa-caret-down"> 
                          <md-icon md-svg-src="img/expand_less.svg"></md-icon>
                        </span>
                    </th>
                    <th ng-click="sortType = 'C0_02'; sortReverse = !sortReverse">
                        Reference
                        <span ng-if="sortReverse == true && sortType == 'C0_02'" class="fa fa-caret-down"> 
                            <md-icon md-svg-src="img/expand_more.svg"></md-icon>
                        </span>
                        <span ng-if="sortReverse == false && sortType == 'C0_02'" class="fa fa-caret-down"> 
                          <md-icon md-svg-src="img/expand_less.svg"></md-icon>
                        </span>
                    </th>
                    <th>Age-</th>
                    <th ng-click="sortType = 'D7_01'; sortReverse = !sortReverse">
                        Age
                        <span ng-if="sortReverse == true && sortType == 'D7_01'" class="fa fa-caret-down"> 
                            <md-icon md-svg-src="img/expand_more.svg"></md-icon>
                        </span>
                        <span ng-if="sortReverse == false && sortType == 'D7_01'" class="fa fa-caret-down"> 
                            <md-icon md-svg-src="img/expand_less.svg"></md-icon>
                        </span>
                    </th>
                    <th>
                        Age+
                    </th>
                    <th>
                        Elev-
                    </th>
                    <th ng-click="sortType = 'D3_11'; sortReverse = !sortReverse">
                            elev
                            <span ng-if="sortReverse == true && sortType == 'D3_11'" class="fa fa-caret-down"> 
                                <md-icon md-svg-src="img/expand_more.svg"></md-icon>
                            </span>
                            <span ng-if="sortReverse == false && sortType == 'D3_11'" class="fa fa-caret-down"> 
                                <md-icon md-svg-src="img/expand_less.svg"></md-icon>
                            </span>
                    </th>
                    <th>
                        Elev+
                    </th>
                </tr>
            </thead>
            <tr ng-attr-id="{{selected.xUID}}" 
            ng-repeat="selected in werteALL |filter: {plot: 'true'} |orderBy:sortType:sortReverse" 
            ng-class="">
                <td>
                    <md-checkbox class="myCheckbox" aria-label=""
                    ng-checked="selected.export == true; " ng-click="selected.export = !selected.export " style="z-index: 10;">
                    <!--  -->

                    </md-checkbox>
                </td>
                <td > {{selected.label}} </td>
                <td> {{selected.reference}} </td>
                <td> {{selected.age-selected.ageError}}</td>
                <td> {{selected.age}} </td>
                <td> {{selected.ageErrorPlus}} </td>
                <td> {{selected.sElevationErrorMinus}} </td>
                <td> {{selected.elevation}} </td>
                <td> {{selected.sElevationErrorPlus}} </td>
            </tr>
        </table>
    </div>
</div>



<div class="col-md-3" style="background-color: darkgrey; height: 90vh; overflow-y: scroll; padding: 0px;">
    <md-card class="special">
        <!-- <md-card-title>
            <md-card-title-text>
                Select 
            </md-card-title-text>
        </md-card-title> -->
        <md-card-content>
            <div layout="row" layout-align="space-between center">
                <span>Select category:</span>
                <md-select ng-model="sortierung2"  placeholder="Select" class="md-no-underline" style="margin: 2px;">
                <!-- <md-option value="'Type'" data-kategorie="'D5_01'">Type</md-option> -->
                <md-option value="Type" ng-click="groupBy( 'type', 'Type' ); sortierung2 = 'Type'">Type</md-option>
                <md-option value="Region" ng-click="groupBy( 'region', 'Region' ); sortierung2 = 'Region'">Region</md-option>
                <md-option value="Subregion" ng-click="groupBy( 'subregion', 'Subregion' ); sortierung2 = 'Subregion'">Subregion</md-option>
                <md-option value="Reference" ng-click="groupBy( 'reference', 'Reference' ); sortierung2 = 'Reference'">Reference</md-option>
                <md-option value="pubYear" ng-click="groupBy( 'publicationYear', 'Reference' ); sortierung2 = 'Reference'">Publication Year</md-option>
                <md-option value="Dating" ng-click="groupBy( 'dating' , 'Dating'); sortierung2 = 'Dating'">Dating</md-option>
                <md-option value="None" ng-click="groupBy(); sortierung2 = 'None'">All Samples</md-option>
                </md-select>
            </div>
            <p ng-show="sortierung != ''">{{groups.length}} classes</p>
            <div>
                <form name="eineForm">
                    <md-input-container style="padding: 0px; margin: 0px;">
                        <label>Filter by Publication</label>
                        <input ng-model="auswahl.suche.reference">
                    </md-input-container>
                </form>
            </div>
        </md-card-content>
    </md-card>

    <div style="overflow-y: scroll; height: 69vh;">
        <div ng-repeat="group in groups| filter: auswahl.suche.reference" >
            <md-card>
                <div class="groupContainer myPadding">

                    
                    <div class="myHeading" >
                        
                        {{group.label2}}
                    </div>
                    <div class="mySampleBadge" >{{group.proben.length}}</div>
                </div>
                <!-- <div class=" myPadding"> -->
                <!-- </md-card-title> -->
                <md-content>
                    
                    <div class="col-md-2">
                        <md-button class="md-raised md-small" ng-click="select(group); status!=status"
                        [ng-class]="status ? 'groupPristine' : 'groupSelected' "
                        ng-show="status ? 'groupPristine' : 'groupSelected' ">
                            Show
                        </md-button>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <md-button class="md-raised md-small" ng-click="selectWithinGroup(group)">
                            Add to List
                        </md-button>
                        
                    </div>
                </md-content>
                
            </md-card>
        </div>
    </div>
</div>






























<!-- SIDENAV -->
<div layout="row">
	<!-- <div ng-show="linksOpen" flex> -->
		<md-sidenav style="min-width: 60vw; position: fixed;" class="md-sidenav-left" md-component-id="links" md-disable-backdrop md-whiteframe="4">
			<md-toolbar class="md-theme-indigo">
                
                <span>

                    <h2 class="md-toolbar-tools">Export list:       
                        <span>
                            <md-button ng-click="closeSideNav('links')" class="md-accent" style="position: absolute; right: 20px; top: 15px;">
                                Close
                            </md-button>
                        </span>
                    </h2>
                </span>
				
			</md-toolbar>
			<md-content layout-margin>

                <div id="test1" class='with-3d-shadow with-transitions'>
                    <svg></svg>
                </div>
        
                <div layout="row" layout-wrap flex>
                    <p>Samples:<span class="badge">{{selected.proben.length}}</span> [
                        Marine<span class="badge badge-marine" >{{werteSCATTER[2].values.length}}</span> 
                        Indicator <span class="badge badge-indicator">{{werteSCATTER[1].values.length}}</span>
                        Terrestrial: <span class="badge badge-terrestrial">{{werteSCATTER[0].values.length}}</span>]
                    </p>
                </div>
                <div layout="row" layout-wrap flex>
                    <h4>Test scopes</h4>
                </div>

                <div layout="row" layout-wrap flex>
                    <p>labels: {{labelsXY}}</p>
                </div>

                <div layout="row" layout-wrap flex>
                    <p>werteXY: {{werteXY}}</p>
                </div>

                <div layout="row" layout-wrap flex>
                    <p>werteSCATTER: {{werteSCATTER}}</p>
                </div>
            </md-content>
        </md-sidenav>
    <!-- </div> -->
</div>
<script>
        console.log("explorer opened...")
</script>
