
<!-- md-is-locked-open="$mdMedia('gt-md')" -->
<div layout="column" style="height:92vh">

    <section layout="row" flex >
        <div style="position: fixed; right: 0; top: 0; ">

            <md-sidenav
            class="md-sidenav-right"
            md-component-id="right"
            md-is-locked-open=true
            md-whiteframe="4"
            style="min-width: 25vw;"
            >
            
            <md-toolbar class="md-toolbar md-theme-indigo" >
                <!-- <h3>Sidenav Left</h3> -->
                <h3 class="md-toolbar-tools">{{sortierung}}</h3>
            </md-toolbar>
            <md-content layout-padding>
                <md-button  class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
                <md-card class="special">
                    <!-- <md-card-title>
                        <md-card-title-text>
                            Select 
                        </md-card-title-text>
                    </md-card-title> -->
                    <md-card-content>
                        <div layout="row" layout-align="space-between center">
                            <span>Select category:</span>
                            <md-select ng-model="sortierung2"  placeholder="Select" class="md-no-underline" style="margin: 2px;">
                              <!-- <md-option value="'Type'" data-kategorie="'D5_01'">Type</md-option> -->
                              <md-option value="Type" ng-click="groupBy( 'D5_01', 'Type' ); sortierung = 'Type'">Type</md-option>
                              <md-option value="Region" ng-click="groupBy( 'B_01', 'Region' ); sortierung = 'Region'">Region</md-option>
                              <md-option value="Subregion" ng-click="groupBy( 'B_02' ); sortierung = 'Subregion'">Subregion</md-option>
                              <md-option value="Reference" ng-click="groupBy( 'A_02' ); sortierung = 'Reference'">Reference</md-option>
                              <md-option value="Dating" ng-click="groupBy( 'C_01' , 'Dating'); sortierung = 'Dating'">Dating</md-option>
                              <md-option value="None" ng-click="groupBy(); sortierung = 'None'">All Samples</md-option>
                            </md-select>
                          </div>
                          <p ng-show="sortierung != ''">{{groups.length}} classes</p>
                          <div>
                            <form name="eineForm">
                                <md-input-container style="padding: 0px; margin: 0px;">
                                       <label>Filter by Publication</label>
                                    <input ng-model="auswahl.suche.A_02">
                                </md-input-container>
                            </form>
                          </div>
                    </md-card-content>
                </md-card>
                <div style="height: 68vh; overflow-y: scroll">

                    <div ng-repeat="group in groups" >
                        <md-card>
                            <md-card-title>
                                <div class="col-md-12">
            <h4>
            
                {{group.label}}
            </h4>
                                    {{nachSchlagen(group.label,sortierung)}}
                                </div>
                            </md-card-title>
                            <md-content>
                                <div class="col-md-4">
                                    <div class="badge">{{group.proben.length}}</div>
                                    <!-- {{group.proben.length}} -->
                                    <!-- {{nachSchlagen(group.label,sortierung)}} -->
                                    
                                </div>
                                <div class="col-md-2">
                                    <div class="badge badge-terrestrial">{{werteSCATTER[0].values.length}}</div>
                                    <div class="badge badge-indicator">{{werteSCATTER[1].values.length}}</div>
                                    <span class="badge badge-marine" >{{werteSCATTER[2].values.length}}</span>

                                    <!-- {{nachSchlagen(group.label,sortierung)}} -->
                                    
                                </div>
                                <div class="col-md-2">
                                    <md-button class="md-raised md-small" ng-click="select(group)">
                                        <!-- funzt nicht -->
                                        Show
                                    </md-button>
                                    <md-button  class=" md-raised md-small" ng-click="openSidenav()">
                                        Details
                                        
                                    </md-button>
                                </div>
                                   
                                <!-- <button type="button" class="btn btn-primary" ng-click="openSidenav()" style="position: absolute; right: 20px; top: 15px;">Export</button> -->
            
                            </md-content>
                            
                        </md-card>
                    </div>
                </div>

                
            </md-content>
            
        </md-sidenav>
    </div>
    </section>
</div>