<div class="col-md-9" style="background-color: rgb(228, 228, 228); height: 90vh;">
    <!-- <nvd3 options="options" data="werteSCATTER" class="ng-scope" width=600px height=400px></nvd3> -->
    <div  style="height: 55vh;">
        <h4>{{sortierung2}} : {{detailName}}</h4>
        <!-- <my-plot></my-plot> -->
        <!-- <svg id="svgPlot" width="100%" height="100%" viewBox="30 -130 250 150"> -->
            <!-- $scope.svgBox_X = 30;
                $scope.svgBox_Y = -130;
                $scope.svgBox_dX = 250;
                $scope.svgBox_dY = 150; -->
            <!-- ng-attr-viewBox="{{viewBoxString}}" -->
            <!-- viewBox="0 -260 600 300" -->
            <!-- Initial Scales: x: 0.05 , y: 2 -->
            

        <svg id="svgPlot" width="100%" height="100%" 
        ng-attr-view_box="{{viewBoxString}}"
        ng-mousemove="plotPosition($event)" ng-mousedown="plotAction($event)" ng-mouseup="plotMouseUp($event)"  
        ng-mouse-wheel-down="svgScaleX= svgScaleX-0.005; svgScaleY= svgScaleY - 0.2" 
        ng-mouse-wheel-up="svgScaleX= svgScaleX+0.005; svgScaleY= svgScaleY + 0.2"
        >
            <style>
               
                <!-- svg {
                    background-color:white;
                    transform: scale(1,-1);
                }
                svg  text{
                    transform: scale(1,-1);
                    pointer-events: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
                .svgText {
                    pointer-events: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
                #headbase{
                    stroke: rgb(161, 161, 161);
                }
                #terrestrial{
                    fill: rgba(121, 54, 10, 0);
                }
                #marine{
                    fill: rgba(13, 35, 131, 0);
                }
                #marine:hover{
                    filter: drop-shadow(30px 10px 4px #4444dd );
                }
                #indicator2{
                    fill: rgba(116, 116, 116, 0);
                }
                #elevation{
                    stroke:rgba(37, 65, 194, 0.568)
                }
                #age{
                    stroke:rgba(143, 143, 143, 0.719)
                }
                #elevation text{
                    stroke:rgba(143, 143, 143, 0.719);
                }
                .plotMarker:hover{
                    stroke: rgba(197, 27, 27, 0.493);
                }
                .plotMarkerSelected{
                    stroke: rgba(14, 10, 1);
                }
                .testCircle{
                    fill: rgb(20, 20, 20, 0.2);
                }
                text {
                    font-family:serif;	
                    font-size: 10px;
                    font-weight: bold;
                    fill: #00000083;
                    stroke: #306f91;
                    stroke-width: 0;
                  }
                #text_S {
                    font-family:serif;	
                    font-size: 10px;
                    fill: rgba(14, 10, 1, 0.658);
                  }
                .label{
                    font-family:serif;	
                    font-size: 10px;
                    font-weight: bold;
                    fill: #00000000;
                  }
                .label:hover{
                    font-family:serif;	
                    font-size: 10px;
                    font-weight: bold;
                    fill: #000000;
                  }
                #head:hover > .label{
                    display:block;
                  }
                .sampleLabel{
                    display:none;
                    fill:rgb(20, 20, 20);
                    font-size:2em;
                    font-family:sans-serif;
                  } -->
                <!-- #horizontal{stroke:rgb(223, 102, 21);} -->
            </style>
            <g id="plotBase">
                <g id="axes">

                    <g id="age">
                        <text id="ageLabel"
                        ng-attr-x="{{svgBox_dX*0.5}}"
                        ng-attr-y="{{svgBox_dY*0.8+15}}"
                        >
                            age [a BP]
                        </text>
                        <line x1="0" ng-attr-y1="{{-svgBox_dY*0.8}}" ng-attr-x2="{{xScaleMax*(staticScaleX)}}" ng-attr-y2="{{-svgBox_dY*0.8}}"  />   
                        <g ng-repeat="tick in ticksX">
                            <line 
                            ng-attr-x1="{{(tick.tickPos*svgScaleX)+svgShiftX}}" 
                            ng-attr-y1="{{-svgBox_dY*0.8-2}}" 
                            ng-attr-x2="{{(tick.tickPos*svgScaleX)+svgShiftX}}" 
                            ng-attr-y2="{{-svgBox_dY*0.8+5}}"  />   
                            <text id="text_S" 
                            ng-attr-x="{{(tick.tickPos*svgScaleX)+svgShiftX}}"
                            ng-attr-y="{{svgBox_dY*0.8+10}}">
                            {{tick.tickPos}}
                            </text>
                        </g> 
                        <g>
                            <text id="ageMaxLabel"
                        ng-attr-x="{{xScaleMax*(staticScaleX)-30}}"
                        ng-attr-y="{{svgBox_dY*0.8}}"
                        >
                            {{(svgBox_dX-svgShiftX)/svgScaleX | number: 0}}
                        </text>
                        </g>
                     </g>
                <g id="elevation">
                    
                    <g ng-attr-transform="rotate(90, -20, -{{svgBox_dY*0.5}})">
                        
                        <text id="elevationLabel"
                        ng-attr-x="-20"
                        ng-attr-y="{{svgBox_dY*0.5}}"
                        
                        >
                        elevation [m]
                    </text>
                </g>
                    <line stroke-dasharray="10,10" x1="0" y1="0" ng-attr-x2="{{svgBox_dX}}" y2="0"  />   
                    <line x1="0" ng-attr-y1="{{10 * staticScaleY}}" x2="0" ng-attr-y2="{{ - 120 * staticScaleY}}"  />  
                    <g ng-repeat="tick in ticksY">
                        <line 
                        ng-attr-x1="-2" 
                        ng-attr-y1="{{tick.tickPos * svgScaleY}}" 
                        ng-attr-x2="5" 
                        ng-attr-y2="{{tick.tickPos * svgScaleY}}"  />   
                        <text id="text_S" 
                        text-anchor="end"
                        ng-attr-x="-5"
                        ng-attr-y="{{ - tick.tickPos * svgScaleY +3}}">
                            {{tick.tickPos}}
                        </text>
                    </g>
                    </g>
                    <g id="xaxisEnd" visibility="hidden">
                        <polygon id="eins" 
                        ng-attr-points="600,-235 600,-245 620,-240"/>
                    </g>
                </g>
            </g>

            <g id="terrestrial" class="plotMarker" ng-repeat="punkt in werteALL | filter: {plot: true, type_string: 'Terrestrial limiting'}"
            ng-click="punkt.export = !punkt.export ; scrollToSample(this.punkt.xUID) "
            ng-mouseover="scrollToSample(this.punkt.xUID)"
            ng-class="{'plotMarkerSelected': punkt.export === true}">
                <g id="markerBack" ng-attr-title="{{punkt.label}}">
                    <!-- <line x1="80" y1="80" x2="100" y2="80" stroke="black" />  -->
                    <circle visibility="hidden"
                        ng-click="punkt.export = !punkt.export"
                        ng-attr-cx="{{punkt.age * svgScaleX}}" 
                        ng-attr-cy="{{punkt.elevation * svgScaleY}}" 
                        ng-attr-r="3" />
                    <text  class="label"
                    ng-attr-x="{{punkt.age * svgScaleX}}"
                    ng-attr-y="{{  punkt.elevation * svgScaleY}}">
                        {{punkt.title}}
                    </text>
                </g>

                <g id="head" ng-click="punkt.export = !punkt.export">
                    <title>{{punkt.title}}</title>
                    <line id="horizontal"
                    ng-attr-x1="{{ (punkt.age - punkt.ageError ) * svgScaleX}}" 
                    ng-attr-y1="{{punkt.elevation * svgScaleY}}" 
                    ng-attr-x2="{{ (punkt.age + punkt.ageError)* svgScaleX}}" 
                    ng-attr-y2="{{punkt.elevation * svgScaleY}}" 
                    stroke="black" />   
                    <line id="vertical"
                    ng-attr-x1="{{punkt.age * svgScaleX}}" 
                    ng-attr-y1="{{ (punkt.elevation) * svgScaleY}}" 
                    ng-attr-x2="{{punkt.age * svgScaleX}}" 
                    ng-attr-y2="{{(punkt.elevation - 2*punkt.sElevationErrorPlus) * svgScaleY}}" 
                    stroke="black" />  
                    <text class="sampleLabel"
                    ng-attr-x="{{punkt.age * svgScaleX}}" 
                    ng-attr-y="{{ (punkt.elevation) * svgScaleY}}"
                    >{{punkt.title}}</text> 
                </g>
                <g>
                    <circle id="markerBG" class="testCircle" 
                        ng-attr-cx="{{(punkt.age * svgScaleX)+svgShiftX}}" 
                        ng-attr-cy="{{(punkt.elevation * svgScaleY)+svgShiftY}}" 
                        ng-attr-r="3" />
                </g>
                <!-- <g id="trackOffset" visibility="hidden">
                    <line id="horizontal"
                    ng-attr-x1="{{ (punkt.x) * svgScaleX}}" 
                    ng-attr-y1="{{punkt.y * svgScaleY}}" 
                    ng-attr-x2="{{ ((punkt.plotmX1 + punkt.plotmX2)*0.5 )* svgScaleX}}" 
                    ng-attr-y2="{{punkt.y * svgScaleY}}" 
                    stroke="red" />
                </g> -->
            </g>
            <g id="marine" class="plotMarker" ng-repeat="punkt in werteALL | filter: {plot: true, type_string: 'Marine limiting'}"
            ng-click="punkt.export = !punkt.export ; scrollToSample(this.punkt.xUID) "
            ng-mouseover="scrollToSample(this.punkt.xUID)"
            ng-class="{'plotMarkerSelected': punkt.export === true}">
                <g id="markerBack">
                    <!-- <line x1="80" y1="140" x2="100" y2="140" stroke="black" />  -->
                    <circle ng-click="punkt.export = !punkt.export "
                        ng-attr-cx="{{punkt.age * svgScaleX}}" 
                        ng-attr-cy="{{punkt.elevation * svgScaleY}}" 
                        ng-attr-r="3" />
                    <text id="eins" class="label"
                        ng-attr-x="{{punkt.age * svgScaleX}}"
                        ng-attr-y="{{ - punkt.elevation * svgScaleY}}">
                            {{punkt.label}}
                    </text>
                </g>
                <g id="headbase" visibility="hidden">
                    <line 
                    ng-attr-x1="{{ (punkt.age - standardErrorX ) * svgScaleX}}" 
                    ng-attr-y1="{{punkt.elevation * svgScaleY}}" 
                    ng-attr-x2="{{ (punkt.age + standardErrorX ) * svgScaleX}}" 
                    ng-attr-y2="{{punkt.elevation * svgScaleY}}" 
                    stroke="black" />   
                    <line 
                    ng-attr-x1="{{punkt.age * svgScaleX}}" 
                    ng-attr-y1="{{ (punkt.elevation + standardErrorY) * svgScaleY}}" 
                    ng-attr-x2="{{punkt.age * svgScaleX}}" 
                    ng-attr-y2="{{punkt.elevation * svgScaleY}}" 
                    stroke="black" />   
                </g>
                <g id="head">
                    <line id="horizontal"
                    ng-attr-x1="{{ (punkt.age - punkt.ageError ) * svgScaleX}}" 
                    ng-attr-y1="{{punkt.elevation * svgScaleY}}" 
                    ng-attr-x2="{{ (punkt.age + punkt.ageError)* svgScaleX}}" 
                    ng-attr-y2="{{punkt.elevation * svgScaleY}}" 
                    stroke="blue" />   
                    <line id="vertical"
                    ng-attr-x1="{{punkt.age * svgScaleX}}" 
                    ng-attr-y1="{{ (punkt.elevation + 2*punkt.sElevationErrorPlus) * svgScaleY}}" 
                    ng-attr-x2="{{punkt.age * svgScaleX}}" 
                    ng-attr-y2="{{(punkt.elevation ) * svgScaleY}}" 
                    stroke="blue" />   
                </g>
            </g>
            <g id="indicator2" class="plotMarker" ng-repeat="punkt in werteALL | filter: {plot: true, type_string: 'Indicator'}"
            ng-click="punkt.export = !punkt.export ; scrollToSample(this.punkt.xUID) "
            ng-mouseover="scrollToSample(this.punkt.xUID)"
            ng-class="{'plotMarkerSelected': punkt.export === true}">
                <g id="markerBack">
                    <!-- <line x1="80" y1="80" x2="100" y2="80" stroke="black" />  -->
                    <circle 
                        ng-click="punkt.export = !punkt.export"
                        ng-attr-cx="{{punkt.age * svgScaleX}}" 
                        ng-attr-cy="{{punkt.elevation * svgScaleY}}" 
                        ng-attr-r="3" />
                    <text id="eins" class="label"
                    ng-attr-x="{{punkt.age * svgScaleX}}"
                    ng-attr-y="{{ - punkt.elevation * svgScaleY}}">
                        {{punkt.label}}
                    </text>
                </g>
                <g id="headbase" visibility="hidden">
                    <line 
                    ng-attr-x1="{{ (punkt.age - standardErrorX ) * svgScaleX}}" 
                    ng-attr-y1="{{punkt.elevation * svgScaleY}}" 
                    ng-attr-x2="{{ (punkt.age + standardErrorX ) * svgScaleX}}" 
                    ng-attr-y2="{{punkt.elevation * svgScaleY}}" 
                    stroke="black" />   
                    <line 
                    ng-attr-x1="{{punkt.age * svgScaleX}}" 
                    ng-attr-y1="{{ (punkt.elevation + standardErrorY) * svgScaleY}}" 
                    ng-attr-x2="{{punkt.age * svgScaleX}}" 
                    ng-attr-y2="{{ (punkt.elevation - standardErrorY) * svgScaleY}}" 
                    stroke="black" />   
                </g>
                <g id="head">
                    <line id="horizontal"
                    ng-attr-x1="{{ (punkt.age - punkt.ageError ) * svgScaleX}}" 
                    ng-attr-y1="{{punkt.elevation * svgScaleY}}" 
                    ng-attr-x2="{{ (punkt.age + punkt.ageError)* svgScaleX}}" 
                    ng-attr-y2="{{punkt.elevation * svgScaleY}}" 
                    stroke="black" />   
                    <line id="vertical"
                    ng-attr-x1="{{punkt.age * svgScaleX}}" 
                    ng-attr-y1="{{ (punkt.elevation + punkt.sElevationErrorMinus) * svgScaleY}}" 
                    ng-attr-x2="{{punkt.age * svgScaleX}}" 
                    ng-attr-y2="{{(punkt.elevation - punkt.sElevationErrorPlus) * svgScaleY}}" 
                    stroke="black" />   
                </g>
            </g>
            
        </svg>
        <div  >

            <!-- <div ng-click="svgScaleX= 0.05 ; svgScaleY=2; svgShiftX = 0; svgShiftY = 0;" style="font-size: 8;">
                
                ScaleX: {{svgScaleX | number: 3}} - ScaleY: {{svgScaleY | number: 3}} 
                ZoomX: {{svgScaleX/staticScaleX | number: 3}} - ZoomY: {{svgScaleY/staticScaleY | number: 3}}
                ShiftX: {{svgShiftX}} - ShiftY: {{svgShiftY}}
            </div> -->
            <!-- <div ng-click="viewBoxString='0 -260 600 300'">
                viewBox: {{viewBoxString}}
            </div> -->
        </div>
        
        
    </div>
    <div class=row><h4 style="z-index: 4;">Details</h4></div>
    <div style="height: 30vh; overflow-y: scroll;">

        <table  class="sampleTable" width="100%" id="tabelle">
            <thead>
                <tr>
                    <th>
                        <md-checkbox ng-model="allSelected" ng-checked="allSelected == true; " ng-click="selectAll()">

                            Export
                        </md-checkbox>
                        
                    </th>
                    <th ng-click="sortType = 'A_01'; sortReverse = !sortReverse">
                        SampleID
                        <span ng-if="sortReverse == true && sortType == 'A_01'" class="fa fa-caret-down"> 
                          <md-icon md-svg-src="img/expand_more.svg"></md-icon>
                        </span>
                        <span ng-if="sortReverse == false  && sortType == 'A_01'" class="fa fa-caret-down"> 
                          <md-icon md-svg-src="img/expand_less.svg"></md-icon>
                        </span>
                    </th>
                    <th ng-click="sortType = 'C0_02'; sortReverse = !sortReverse">
                        Reference
                        <span ng-if="sortReverse == true && sortType == 'C0_02'" class="fa fa-caret-down"> 
                            <md-icon md-svg-src="img/expand_more.svg"></md-icon>
                        </span>
                        <span ng-if="sortReverse == false && sortType == 'C0_02'" class="fa fa-caret-down"> 
                          <md-icon md-svg-src="img/expand_less.svg"></md-icon>
                        </span>
                    </th>
                    <th>Age-</th>
                    <th ng-click="sortType = 'D7_01'; sortReverse = !sortReverse">
                        Age
                        <span ng-if="sortReverse == true && sortType == 'D7_01'" class="fa fa-caret-down"> 
                            <md-icon md-svg-src="img/expand_more.svg"></md-icon>
                        </span>
                        <span ng-if="sortReverse == false && sortType == 'D7_01'" class="fa fa-caret-down"> 
                            <md-icon md-svg-src="img/expand_less.svg"></md-icon>
                        </span>
                    </th>
                    <th>
                        Age+
                    </th>
                    <th>
                        Elev-
                    </th>
                    <th ng-click="sortType = 'D3_11'; sortReverse = !sortReverse">
                            elev
                            <span ng-if="sortReverse == true && sortType == 'D3_11'" class="fa fa-caret-down"> 
                                <md-icon md-svg-src="img/expand_more.svg"></md-icon>
                            </span>
                            <span ng-if="sortReverse == false && sortType == 'D3_11'" class="fa fa-caret-down"> 
                                <md-icon md-svg-src="img/expand_less.svg"></md-icon>
                            </span>
                    </th>
                    <th>
                        Elev+
                    </th>
                </tr>
            </thead>
            <tr ng-attr-id="{{selected.xUID}}" 
            ng-repeat="selected in werteALL |filter: {plot: 'true'} |orderBy:sortType:sortReverse" 
            ng-class="">
                <td>
                    <md-checkbox class="myCheckbox" aria-label=""
                    ng-checked="selected.export == true; " ng-click="selected.export = !selected.export " style="z-index: 10;">
                    <!--  -->

                    </md-checkbox>
                </td>
                <td > {{selected.label}} </td>
                <td> {{selected.reference}} </td>
                <td> {{selected.age-selected.ageError}}</td>
                <td> {{selected.age}} </td>
                <td> {{selected.ageErrorPlus}} </td>
                <td> {{selected.sElevationErrorMinus}} </td>
                <td> {{selected.elevation}} </td>
                <td> {{selected.sElevationErrorPlus}} </td>
            </tr>
        </table>
    </div>
</div>



<div class="col-md-3" style="background-color: darkgrey; height: 90vh; overflow-y: scroll; padding: 0px;">
    <md-card class="special">
        <!-- <md-card-title>
            <md-card-title-text>
                Select 
            </md-card-title-text>
        </md-card-title> -->
        <md-card-content>
            <div layout="row" layout-align="space-between center">
                <span>Select category:</span>
                <md-select ng-model="sortierung2"  placeholder="Select" class="md-no-underline" style="margin: 2px;">
                <!-- <md-option value="'Type'" data-kategorie="'D5_01'">Type</md-option> -->
                <md-option value="Type" ng-click="groupBy( 'type', 'Type' ); sortierung2 = 'Type'">Type</md-option>
                <md-option value="Region" ng-click="groupBy( 'region', 'Region' ); sortierung2 = 'Region'">Region</md-option>
                <md-option value="Subregion" ng-click="groupBy( 'subregion', 'Subregion' ); sortierung2 = 'Subregion'">Subregion</md-option>
                <md-option value="Reference" ng-click="groupBy( 'reference', 'Reference' ); sortierung2 = 'Reference'">Reference</md-option>
                <md-option value="pubYear" ng-click="groupBy( 'publicationYear', 'Reference' ); sortierung2 = 'Reference'">Publication Year</md-option>
                <md-option value="Dating" ng-click="groupBy( 'dating' , 'Dating'); sortierung2 = 'Dating'">Dating</md-option>
                <md-option value="None" ng-click="groupBy(); sortierung2 = 'None'">All Samples</md-option>
                </md-select>
            </div>
            <p ng-show="sortierung != ''">{{groups.length}} classes</p>
            <div>
                <form name="eineForm">
                    <md-input-container style="padding: 0px; margin: 0px;">
                        <label>Filter by Publication</label>
                        <input ng-model="auswahl.suche.reference">
                    </md-input-container>
                </form>
            </div>
        </md-card-content>
    </md-card>

    <div style="overflow-y: scroll; height: 69vh;">
        <div ng-repeat="group in groups| filter: auswahl.suche.reference" >
            <md-card>
                <md-card-title>
                    <h4>
                        
                        {{group.label2}}
                    </h4>
                </md-card-title>
                <md-content>
                    <div class="col-md-7">
                        {{group.proben.length}}  Samples
                    </div>
                    <div class="col-md-2">
                        <md-button class="md-raised md-small" ng-click="select(group)">
                            Details
                        </md-button>
                        <md-button class="md-raised md-small" ng-click="selectWithinGroup(group)">
                            Add to List
                        </md-button>
                    </div>
                </md-content>
                
            </md-card>
        </div>
    </div>
</div>






























<!-- SIDENAV -->
<div layout="row">
	<!-- <div ng-show="linksOpen" flex> -->
		<md-sidenav style="min-width: 60vw; position: fixed;" class="md-sidenav-left" md-component-id="links" md-disable-backdrop md-whiteframe="4">
			<md-toolbar class="md-theme-indigo">
                
                <span>

                    <h2 class="md-toolbar-tools">Export list:       
                        <span>
                            <md-button ng-click="closeSideNav('links')" class="md-accent" style="position: absolute; right: 20px; top: 15px;">
                                Close
                            </md-button>
                        </span>
                    </h2>
                </span>
				
			</md-toolbar>
			<md-content layout-margin>

                <div id="test1" class='with-3d-shadow with-transitions'>
                    <svg></svg>
                </div>
        
                <div layout="row" layout-wrap flex>
                    <p>Samples:<span class="badge">{{selected.proben.length}}</span> [
                        Marine<span class="badge badge-marine" >{{werteSCATTER[2].values.length}}</span> 
                        Indicator <span class="badge badge-indicator">{{werteSCATTER[1].values.length}}</span>
                        Terrestrial: <span class="badge badge-terrestrial">{{werteSCATTER[0].values.length}}</span>]
                    </p>
                </div>
                <div layout="row" layout-wrap flex>
                    <h4>Test scopes</h4>
                </div>

                <div layout="row" layout-wrap flex>
                    <p>labels: {{labelsXY}}</p>
                </div>

                <div layout="row" layout-wrap flex>
                    <p>werteXY: {{werteXY}}</p>
                </div>

                <div layout="row" layout-wrap flex>
                    <p>werteSCATTER: {{werteSCATTER}}</p>
                </div>
            </md-content>
        </md-sidenav>
    <!-- </div> -->
</div>
<script>
        console.log("explorer opened...")
</script>
